/* --------------- pop_wrap--------------- */
.pop_wrap {
    position: relative;
}

.pop_wrap .popup {
    position: absolute;
    left: 0;
    top: 0;
    height: 450px;
    background: #444;
}

.pop_wrap .popup figure {
    width: 300px;
}

.pop_wrap .popup02 {
    position: absolute;
    left: 310px;
    top: 0;
}

.popup button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* --------------- header--------------- */
.Wrap {
    position: relative;
}

#header {
    position: absolute;
}

#header h1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 105px;
}

#header .btn_menu {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

#header .btn_menu p {
    font-size: 20px;
    line-height: 25px;
}

#header button {
    font-size: 40px;
    background: none;
    border: none;
}

#header .gnb button {
    margin: 0 0 0 40px;
}

.gnb {
    position: fixed;
    display: flex;
    left: -100%;
    top: 0;
    background: #fff;
    color: #444;
    transition: 0.5s;

    width: 100%;
    height: 100%;
    z-index: 999;
}

.gnb.on {
    left: 0;
    top: 0;
}

.gnb .inner {
    padding: 120px 0 120px 50px;
    margin: auto 0;
}

.gnb img {
    position: absolute;
    right: 0;
    height: 100%;
}


.gnb ul>li {
    font-size: 30px;
    line-height: 70px;
    font-weight: 700;
}

.gnb ul>li>a {
    display: block;
    margin: 0 0 10px 0;
}

.gnb ul>li ul {
    display: flex;
    gap: 20px;
}

.gnb ul>li ul>li {
    font-size: 20px;
    line-height: 20px;
    color: #666;
}

.gnb ul>li .menu_wrap {
    display: none;
}

.gnb ul>li:hover .menu_wrap {
    display: block;
}

/* ---------------main_visual--------------- */

.main_visual {
    height: 100vh;
}

.main_visual::after {
    content: '';
    background-image: url(../img/icon_mainVisual.png);
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    bottom: 0;
    right: 50px;
    display: block;
    width: 1013px;
    height: 647px;
    background-size: contain;
}

.main_visual .title {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
}

.main_visual .title p {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.main_visual .title h2 {
    font-size: 75px;
    font-weight: 400;
    margin: 0 0 60px 0;
}

.main_visual .btn_box {
    width: 200px;
    height: 70px;
    background: #293f3a;
    color: #fff;
    border-radius: 50px;
    font-size: 30px;

    text-align: center;
}


* {
    outline: 1px solid tomato;
}