
@charset "utf-8";

/*
 * main CSS Document
 * KOWEB
 */

#main {
    overflow: hidden;
}

#main #header {
    position: absolute;
    width: 100%;
    padding-top: 15px;
}

#main #header h1 {
    position: absolute;
    left: 4%;
    top: 0;
    width: 105px;
    height: 180px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

#main #header h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/images/common/logo.png) no-repeat 50%;
    background-size: 104px 100px;
    font-size: 0;
}

#main .btn_menu {
    display: none;
}

/* 메인비쥬얼 */
.main_visual {
    position: relative;
    height: 100vh;
}

.main_visual::after {
    content: '';
    background-image: url(/images/main/icon_mainVisual.png);
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    bottom: -28px;
    right: 50px;
    display: block;
    width: 1013px;
    height: 647px;
    background-size: contain;
}

.main_visual .container {
    height: 100%;
}

.main_visual .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #222;
    z-index: 50;
    word-break: keep-all;
}

.main_visual .title p {
    font: 400 30px 'Noto Serif KR';
    letter-spacing: 0.05em;
}

.main_visual .title h2 {
    font: 300 75px 'Noto Serif KR';
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.main_visual .btn_box {
    margin: 80px 0 0 0;
}

#main .main_visual .btn_menu {
    display: block;
    position: fixed;
    z-index: 90;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* 무료 자가진단 */
.main_diagnosis {
    padding: 140px 0 160px;
}

.main_diagnosis .title {
    color: #222;
    text-align: center;
}

.main_diagnosis .title h3 {
    font: 300 40px 'Noto Serif KR';
}

.main_diagnosis .title p {
    margin: 24px 0 60px;
}

.main_diagnosis .title p span {
    font-weight: 500;
    color: #222;
}

.main_diagnosis ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main_diagnosis ul li a {
    display: block;
    width: auto;
    height: auto;
}

.main_diagnosis ul li div {
    width: 108px;
    height: 108px;
    border-radius: 23px;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.main_diagnosis ul li:hover div {
    background-color: #293f3a;
    -webkit-box-shadow: 6px 8px 27px rgba(41, 63, 58, 0.38);
    box-shadow: 6px 8px 27px rgba(41, 63, 58, 0.38);
}

.main_diagnosis ul li:nth-child(1) div {
    background-image: url(/images/main/icon_diagnosis01.png);
    background-size: 41px 44px;
}

.main_diagnosis ul li:nth-child(2) div {
    background-image: url(/images/main/icon_diagnosis02.png);
    background-size: 41px 45px;
}

.main_diagnosis ul li:nth-child(3) div {
    background-image: url(/images/main/icon_diagnosis03.png);
    background-size: 49px 46px;
}

.main_diagnosis ul li:nth-child(4) div {
    background-image: url(/images/main/icon_diagnosis04.png);
    background-size: 45px 39px;
}

.main_diagnosis ul li:nth-child(5) div {
    background-image: url(/images/main/icon_diagnosis05.png);
    background-size: 45px 27px;
}

.main_diagnosis ul li:nth-child(6) div {
    background-image: url(/images/main/icon_diagnosis06.png);
    background-size: 25px 45px;
}

.main_diagnosis ul li:nth-child(7) div {
    background-image: url(/images/main/icon_diagnosis07.png);
    background-size: 41px 34px;
}

.main_diagnosis ul li:nth-child(8) div {
    background-image: url(/images/main/icon_diagnosis08.png);
    background-size: 41px 44px;
}

.main_diagnosis ul li:nth-child(1):hover div {
    background-image: url(/images/main/icon_diagnosis01-w.png);
    background-size: 41px 44px;
}

.main_diagnosis ul li:nth-child(2):hover div {
    background-image: url(/images/main/icon_diagnosis02-w.png);
    background-size: 41px 45px;
}

.main_diagnosis ul li:nth-child(3):hover div {
    background-image: url(/images/main/icon_diagnosis03-w.png);
    background-size: 49px 46px;
}

.main_diagnosis ul li:nth-child(4):hover div {
    background-image: url(/images/main/icon_diagnosis04-w.png);
    background-size: 45px 39px;
}

.main_diagnosis ul li:nth-child(5):hover div {
    background-image: url(/images/main/icon_diagnosis05-w.png);
    background-size: 45px 27px;
}

.main_diagnosis ul li:nth-child(6):hover div {
    background-image: url(/images/main/icon_diagnosis06-w.png);
    background-size: 25px 45px;
}

.main_diagnosis ul li:nth-child(7):hover div {
    background-image: url(/images/main/icon_diagnosis07-w.png);
    background-size: 41px 34px;
}

.main_diagnosis ul li:nth-child(8):hover div {
    background-image: url(/images/main/icon_diagnosis08-w.png);
    background-size: 41px 44px;
}

.main_diagnosis ul li span {
    display: block;
    text-align: center;
    margin-top: 24px;
    font-weight: 500;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.main_diagnosis ul li:hover span {
    color: #293f3a;
    font-weight: 700;
}

.main_diagnosis ul li:first-child span {
    font-family: 'adobe-garamond-pro';
    font-weight: 700;
}

/* 고객상담 */
.main_customer {
    background-color: #f8f8f8;
    padding-bottom: 40px;
}

.main_customer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -60px;
}

.main_customer .left {
    width: 60%;
}

.main_customer .left .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 11px 0 0 11px;
    border: 1px solid #a8a8a8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-right: none;
}

.main_customer .left .top li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.main_customer .left .top li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 36px 40px;
    font-size: 17px;
    font-weight: 700;
}

.main_customer .left .top li a::before {
    content: '';
    position: absolute;
    right: 40px;
    top: 33px;
    display: block;
    width: 30px;
    height: 30px;
    background: #d0d0d0 url(/images/common/icon_arrow1.svg) no-repeat 50%;
    background-size: 6px 9px;
    border-radius: 50%;
}

.main_customer .left .top li+li {
    border-left: 1px solid #ebebeb;
}

.main_customer .left .bottom {
    padding: 0 60px 0 40px;
    margin-top: 50px;
}

.main_customer .left .bottom li>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    padding: 24px 20px 24px 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main_customer .left .bottom li:last-child div {
    border-bottom: none;
}

.main_customer .left .bottom li dl {
    color: #333;
    font-family: 'adobe-garamond-pro';
    font-weight: 700;
    text-align: center;
    margin-right: 40px;
    min-width: 52px;
}

.main_customer .left .bottom li dl dt {
    font-size: 44px;
    line-height: 1.2;
}

.main_customer .left .bottom li dl dd {
    font-size: 15px;
}

.main_customer .left .bottom li a {
    width: calc(100% - 92px);
}

.main_customer .left .bottom li a p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    overflow: hidden;
}

.main_customer .left .bottom li a span {
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    overflow: hidden;
}

.main_customer .right {
    width: 40%;
    background-color: #fff;
    -webkit-box-shadow: 50px 57px 68px rgba(38, 38, 38, 0.11);
    box-shadow: 50px 57px 68px rgba(38, 38, 38, 0.11);
}

.main_customer .right .top {
    padding: 100px 45px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(/images/main/img_info.jpg) no-repeat 50%;
    background-size: cover;
    color: #fff;
    border-radius: 0 23px 0 0;
}

.main_customer .right .top>span {
    font-weight: 700;
    font-family: 'adobe-garamond-pro';
}

.main_customer .right .top h5 {
    font: 100 28px 'Noto Serif KR';
}

.main_customer .right .top h5 span {
    font-weight: 300;
}

.main_customer .right .bottom {
    padding: 40px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main_customer .right .bottom em {
    display: block;
    border-radius: 16.5px;
    width: 113px;
    height: 33px;
    line-height: 33px;
    background-color: #293f3a;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.main_customer .right .bottom>a {
    font: 700 45px 'adobe-garamond-pro';
    color: #293f3a;
    display: block;
    margin: 8px 0 24px;
}

.main_customer .right .bottom span {
    font-size: 15px;
}

.main_customer .right .bottom .info_btnBox {
    margin-top: 50px;
    overflow: hidden;
}

.main_customer .right .bottom .info_btnBox a {
    position: relative;
    display: block;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.5%;
    float: left;
}

.main_customer .right .bottom .info_btnBox a.btn1 {
    border: 1px solid #d0d0d0;
    margin-right: 3%;
    font-weight: 400;
    color: #666;
}

.main_customer .right .bottom .info_btnBox a.btn2 {
    border: 1px solid #06be34;
    color: #06be34;
    font-weight: 700;
}

.main_customer .right .bottom .info_btnBox a.btn1::after {
    content: '';
    background: url(/images/common/icon_arrow3.png) no-repeat 50%;
    width: 6px;
    height: 9px;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main_customer .right .bottom .info_btnBox a.btn2::after {
    content: url(/images/common/icon_naver.png);
    position: absolute;
    right: 30px;
    top: 21px;
}

@media all and (max-width:1800px) {
    .main_visual .container {
        position: relative;
    }
}

@media all and (max-width:1580px) {
    .main_visual .title {
        left: 10%;
    }

    .main_customer .right .bottom .info_btnBox a {
        padding: 20px;
    }

    .main_customer .right .bottom .info_btnBox a.btn1::after {
        right: 20px;
    }

    .main_customer .right .bottom .info_btnBox a.btn2::after {
        right: 20px;
    }
}

@media all and (max-width:1280px) {
    #main .btn_menu {
        display: block;
    }

    #main .main_visual .btn_menu {
        display: none;
    }

    .main_visual {
        height: 600px;
    }

    .main_visual .title {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .main_visual::before {
        content: '';
        position: absolute;
        display: block;
        width: 453px;
        height: 456px;
        background: url(/images/main/icon_mainVisual01.png) no-repeat 50%;
        background-size: contain;
        left: 20px;
        bottom: -20px;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }

    .main_visual::after {
        background-image: url(/images/main/icon_mainVisual02.png);
        width: 347px;
        height: 335px;
        bottom: -20px;
        right: 30px;
    }

    .main_visual .btn_box {
        margin: 50px auto 0;
    }

    .main_visual .btn_box a.btn {
        background-color: rgba(41, 63, 58, 0.8)
    }

    .main_customer .left .top li a {
        padding: 24px 30px;
    }

    .main_customer .left .top li a::before {
        right: 30px;
        top: 22px;
    }

    .main_customer .left .bottom {
        padding-left: 30px;
    }

    .main_customer .right .bottom .info_btnBox a.btn2 {
        text-align: center;
    }

    .main_customer .right .bottom .info_btnBox a.btn2::after {
        display: none;
    }
}

@media all and (max-width:1080px) {
    .main_visual {
        height: 480px;
    }

    .main_visual::before {
        width: 322px;
        height: 324px;
    }

    .main_visual::after {
        width: 237px;
        height: 230px;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        right: 120px;
    }

    .main_visual .title {
        width: 100%;
    }

    .main_visual .title p {
        font-size: 24px;
    }

    .main_visual .title h2 {
        font-size: 64px;
        font-weight: 400;
    }

    .main_diagnosis {
        padding: 100px 0 135px;
    }

    .main_diagnosis .title h3 {
        font-size: 36px;
    }

    .main_diagnosis ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .main_diagnosis ul li {
        width: 25%;
    }

    .main_diagnosis ul li div {
        margin: 0 auto;
    }

    .main_diagnosis ul li span {
        margin: 14px auto 25px;
        word-break: keep-all;
    }

    .main_customer {
        padding-bottom: 30px;
    }

    .main_customer .containerr {
        width: 100%;
    }

    .main_customer .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        top: -35px;
    }

    .main_customer .left {
        width: 100%;
    }

    .main_customer .left .top {
        border-radius: 11px;
        border: 1px solid #a8a8a8;
    }

    .main_customer .left .top li {
        width: 33.3333%;
    }

    .main_customer .left .bottom {
        margin: 10px 0 40px;
        padding: 0 30px;
    }

    .main_customer .left .bottom li a p {
        font-weight: bold;
    }

    .main_customer .right {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0 0 68px rgba(38, 38, 38, 0.11);
        box-shadow: 0 0 68px rgba(38, 38, 38, 0.11);
        border-radius: 23px;
        overflow: hidden;
    }

    .main_customer .right .top {
        border-radius: 23px 0 0 0;
        padding: 210px 45px 40px;
    }

    .main_customer .right .bottom {
        width: 60%;
    }

    .main_customer .right .bottom .info_btnBox a.btn2 {
        text-align: left;
    }

    .main_customer .right .bottom .info_btnBox a.btn2::after {
        display: block;
    }
}

@media all and (max-width:767px) {
    .main_visual::before {
        left: -70px;
    }

    .main_visual::after {
        right: 0;
    }

    .main_visual .title p {
        font-size: 21px;
        letter-spacing: 0;
    }

    .main_visual .title h2 {
        font-size: 48px;
    }

    .main_diagnosis .title h3 {
        font-size: 32px;
    }

    .main_diagnosis {
        padding: 70px 0;
    }

    .main_diagnosis .title p {
        margin: 12px 0 40px;
    }

    .main_diagnosis .title p span {
        font-weight: bold;
    }

    .main_customer .left .top li {
        width: auto;
    }

    .main_customer .left .top li a {
        font-size: 16px;
    }

    .main_customer .left .bottom li dl {
        margin-right: 30px;
    }

    .main_customer .left .bottom li dl dt {
        font-size: 36px;
        line-height: 1em;
    }

    .main_customer .left .bottom li a p {
        font-size: 17px;
    }

    .main_customer .right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main_customer .right .top {
        padding: 40px;
    }

    .main_customer .right .bottom {
        width: 100%;
    }

    .main_customer .right .bottom>a {
        font-size: 40px;
    }

    .main_customer .right .bottom .info_btnBox a {
        width: 180px;
    }
}

@media all and (max-width:640px) {
    #main #header h1 {
        width: 80px;
        height: 120px;
    }

    #main #header h1 a {
        background-size: 80px;
    }

    .main_visual {
        height: 360px;
        overflow: hidden;
    }

    .main_visual::before {
        bottom: -150px;
    }

    .main_visual::after {
        bottom: -100px;
    }

    .main_visual .title {
        top: 35%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .main_visual .title p {
        font-size: 21px;
        letter-spacing: 0;
    }

    .main_visual .title h2 {
        font-size: 40px;
    }

    .main_visual .btn_box {
        margin-top: 30px;
    }

    .main_diagnosis ul li div {
        width: 95px;
        height: 95px;
    }

    .main_customer .left {
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main_customer .left .top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main_customer .left .top li+li {
        border-top: 1px solid #ebebeb;
        border-left: 0;
    }

    .main_customer .left .top li a {
        padding: 15px 20px;
    }

    .main_customer .left .top li a::before {
        top: 12px;
        right: 20px;
    }

    .main_customer .left .bottom {
        padding: 0 15px;
    }

    .main_customer .right .bottom>a {
        margin-bottom: 10px;
    }

    .main_customer .right .bottom .info_btnBox {
        margin-top: 30px;
    }

    .main_customer .right .bottom .info_btnBox a {
        width: 48.5%;
    }
}

@media all and (max-width:480px) {
    .main_visual::before {
        left: -120px;
        opacity: 0.85;
    }

    .main_visual::after {
        right: -30px;
        opacity: 0.85;
    }

    .main_diagnosis {
        padding: 50px 0 30px;
    }

    .main_diagnosis ul li {
        position: relative;
        width: 24%;
        margin-bottom: 1%;
    }

    .main_diagnosis ul li div {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 15px;
    }

    .main_diagnosis ul li span {
        margin: 10px auto 15px;
        word-break: keep-all;
    }

    .main_customer {
        padding: 50px 0 70px;
    }

    .main_customer .wrapper {
        top: 0;
    }

    .main_customer .left {
        padding: 0;
    }

    .main_customer .left .bottom {
        padding: 0;
    }

    .main_customer .left .bottom li div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 15px 10px;
    }

    .main_customer .left .bottom li dl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 6px;
        color: #293f3a;
    }

    .main_customer .left .bottom li dl dt {
        font-size: 20px;
    }

    .main_customer .left .bottom li dl dt::before {
        content: '.';
    }

    .main_customer .left .bottom li dl dd {
        font-size: 20px;
    }

    .main_customer .left .bottom li a {
        width: 100%;
    }

    .main_customer .left .bottom li a p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .main_customer .right .top {
        padding: 30px;
    }

    .main_customer .right .bottom {
        padding: 30px;
    }

    .main_customer .right .bottom span {
        font-size: 14px;
    }

    .main_customer .right .bottom>a {
        font-size: 36px;
    }

    .main_customer .right .bottom .info_btnBox a {
        width: 100%;
    }

    .main_customer .right .bottom .info_btnBox a.btn1 {
        margin: 0 0 3% 0;
    }
}